/*-- scss:defaults --*/
// Import fonst
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

// Colors
$dark-green: #858E79;
$offwhite: antiquewhite;
$cream: lavenderblush;
$beigeish: burlywood;
$blurple: darkslateblue;
$orange: #ad7237;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $blurple; // highlight color when hovering over navbar links
$body-bg: $offwhite; // page background 
$body-color: $beigeish; // page text 
$footer-bg: $cream; // footer 
$link-color: $blurple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color